name: Update Tecon System Files

on:
  workflow_dispatch:
    inputs:
        URL:
            description: 'URL to update the Tecon System files'
            required: true
            default: ''
        directCommit:
          description: Direct Commit?
          type: boolean
          default: false

jobs:
  updateTeconSystemFiles:
    runs-on: windows-latest

    steps:
        - name: Checkout
          uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
          with:
            token: ${{secrets.ghTokenWorkflow}}
            fetch-depth: 0
        
        - name: Configurar identidad de Git
          run: |
            git config --global user.name "${{github.actor}}[bot]"
            git config --global user.email "${{github.actor}}[bot]@users.noreply.github.com"

        - name: Comprobar que es un template
          shell: pwsh
          run: |
            $parent= Split-Path ${{github.event.inputs.URL}} -Parent
            $org = Split-Path $parent -Leaf
            $repo = Split-Path ${{github.event.inputs.URL}} -Leaf
            $headers = @{
                "Authorization" = "Bearer ${{secrets.ghTokenWorkflow}}"
                "Accept" = "application/vnd.github.v3+json"
            }
            $response = Invoke-RestMethod -Uri "https://api.github.com/repos/$org/$repo" -Headers $headers

            if ($response.is_template -ne $true) {
                Write-Error "El repositorio no es un template"
                exit 1
            }

        - name: Clonar repo y traer archivos workflow y scripts
          shell: pwsh
          run: |
            if (-not (Test-Path "./.github/scripts")) {
              Write-Host "no existe la carpeta scripts"
              mkdir "./.github/scripts"
            }
            if (-not (Test-Path "./.github/workflows")) { 
              Write-Host "no existe la carpeta scripts"
              mkdir "./.github/workflows"
            }
            
            git clone ${{github.event.inputs.URL}} tecon-system-files
            
            Copy-Item -Path "tecon-system-files/.github/workflows/*" -Destination ".github/workflows/" -Recurse -Force -ErrorAction SilentlyContinue
            Copy-Item -Path "tecon-system-files/.github/scripts/*" -Destination ".github/scripts/" -Recurse -Force -ErrorAction SilentlyContinue

            git diff --quiet
            if ($LASTEXITCODE -ne 0) {
                Write-Host "Hay cambios en los archivos de workflow o scripts"
                Remove-Item -Path "tecon-system-files" -Recurse -Force -ErrorAction SilentlyContinue
                git add .
                if ($env:directCommit -eq 'true') {
                    Write-Host "Haciendo commit directo"
                    git commit -m "Update Tecon System files from ${{github.event.inputs.URL}}"
                    git push
                } else {
                    $branch = "update-tecon-system-files" + (Get-Date -Format "yyyyMMddHHmmss")
                    git checkout -b $branch
                    git commit -m "Update Tecon System files from ${{github.event.inputs.URL}}"
                    git push origin $branch
                    gh pr create --title "Update Tecon System files" --body "This PR updates the Tecon System files from ${{github.event.inputs.URL}}" --head $branch
                }
            } else {
                Write-Host "No hay cambios en los archivos de workflow o scripts"
                exit 0
            }
          env:
            directCommit: ${{github.event.inputs.directCommit}}
                
